In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('Data/starbucks.csv', index_col='Date', parse_dates=True)
df.head()

              Close    Volume
Date
2015-01-02  38.0061   6906098
2015-01-05  37.2781  11623796
2015-01-06  36.9748   7664340
2015-01-07  37.8848   9732554
2015-01-08  38.4961  13170548

In [5]:
df.shift(1).tail()

            Close      Volume
Date
2018-12-24  61.39  23524888.0
2018-12-26  60.56   6323252.0
2018-12-27  63.08  16646238.0
2018-12-28  63.20  11308081.0
2018-12-31  63.39   7712127.0

In [7]:
df.shift(-1).head()

              Close      Volume
Date
2015-01-02  37.2781  11623796.0
2015-01-05  36.9748   7664340.0
2015-01-06  37.8848   9732554.0
2015-01-07  38.4961  13170548.0
2015-01-08  37.2361  27556706.0

In [11]:
df.shift(periods=1, freq='M').head()

C:\Users\chien\AppData\Local\Temp\ipykernel_18240\708422281.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.shift(periods=1, freq='M').head()

              Close    Volume
Date
2015-01-31  38.0061   6906098
2015-01-31  37.2781  11623796
2015-01-31  36.9748   7664340
2015-01-31  37.8848   9732554
2015-01-31  38.4961  13170548