In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/example.csv')

In [5]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [9]:
dt = pd.read_excel('data/Excel_Sample.xlsx')

In [11]:
dt

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15