In [77]:
from datetime import datetime
import numpy as np
import pandas as pd

In [79]:
my_yaer = 2007
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 19

In [81]:
my_date = datetime(my_yaer,my_month,my_day)

In [83]:
my_date

datetime.datetime(2007, 1, 2, 0, 0)

In [85]:
my_date_time = datetime(my_yaer,my_month,my_day,my_hour,my_minute,my_second)

In [87]:
my_date_time

datetime.datetime(2007, 1, 2, 13, 30, 19)

In [89]:
my_date.day

2

In [91]:
my_date_time.hour

13

In [145]:
a = np.array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype ='datetime64')
a

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [95]:
np.arange('2018-06-01', '2018-06-23', 7, dtype ='datetime64[D]')

array(['2018-06-01', '2018-06-08', '2018-06-15', '2018-06-22'],
      dtype='datetime64[D]')

In [97]:
np.arange('1968', '1975', dtype='datetime64')

array(['1968', '1969', '1970', '1971', '1972', '1973', '1974'],
      dtype='datetime64[Y]')

In [99]:
idx = pd.date_range('7/8/2018', periods=7, freq='D')
idx

DatetimeIndex(['2018-07-08', '2018-07-09', '2018-07-10', '2018-07-11',
               '2018-07-12', '2018-07-13', '2018-07-14'],
              dtype='datetime64[ns]', freq='D')

In [119]:
idxs =pd.to_datetime(['Jan 01, 2018', '1/2/18', '03-Jan-2018', None], errors='coerce')
idxs

DatetimeIndex(['2018-01-01', 'NaT', 'NaT', 'NaT'], dtype='datetime64[ns]', freq=None)

In [121]:
dates = ['Jan 01, 2018', '1/2/18', '03-Jan-2018', None]
print(dates)

['Jan 01, 2018', '1/2/18', '03-Jan-2018', None]

In [127]:
idxs =pd.to_datetime(['Jan 01, 2018', '1/2/18', '03-Jan-2018', None], errors='coerce')
idxs

DatetimeIndex(['2018-01-01', 'NaT', 'NaT', 'NaT'], dtype='datetime64[ns]', freq=None)

In [147]:
idxl = pd.DatetimeIndex(a)
idxl

DatetimeIndex(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[s]', freq=None)

In [131]:
data = np.random.randn(3,2)
cols = ['A', 'B']
data

array([[-0.3732602 ,  0.98905449],
       [-0.47239578, -1.12922776],
       [ 0.10831128, -1.96078253]])

In [151]:
df = pd.DataFrame(data,idxl,cols)
df

                   A         B
2016-03-15 -0.373260  0.989054
2017-05-24 -0.472396 -1.129228
2018-08-09  0.108311 -1.960783

In [155]:
df.index.max()

Timestamp('2018-08-09 00:00:00')

In [159]:
df.index.argmax()

2